table {
    width: 60%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.hidden-password {
    color: transparent;
    text-shadow: 0 0 6px rgba(0,0,0,0.6);
}
