
table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #a9a9a9
}

.td-password {
    color: transparent;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
