<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/ModalWindow.css"/>
    <meta charset="utf-8"/>
    <title>Пароли</title>
</head>
<body>
    <table>
        <thead><tr><th>Наименование</th><th>Пароль</th><th>Дата записи</th></tr></thead>
        <tbody></tbody>
    </table>
    <script src="~/js/FetchRecords.js"></script>

    <button id="addRecord">Создать новую запись</button>
    <div id="modalWindow" class="modal">
        <div class="modal-content">
            <span class="close" id="close">&times;</span>

        </div>
    </div>
    <script src="~/js/ModalWindow.js"></script>
</body>
</html>